<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Express Movies</title>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <%- include ('./partials/header') %>
        <h1>Express movies: Les sites des cinéphiles</h1>
        <div>
            Etes-vous plutôt films ou séries ? Peu importe, vous trouverez votre bonheur dans les deux cas.
        </div>

        <%- include ('./partials/footer') %>
    </body>
</html>